<div class="container">
  <div class="row">
      <div class="row">
        <div class="col-md-12">
          <label for="validator">Enter the number in the form XXX XXX XXX</label>
        </div>
      </div>
      <div class="col-md-4">.</div>
    <div class="col-md-4">
      <input name="validator" type="text" appCustomValidator>
    </div>
    <div class="col-md-4">.</div>
  </div>
</div>
