<div class="container">
  <form [formGroup]="customForm" (ngSubmit)="onSubmit()" ngForm>
    <div class="row">
      <div class="col-md-10" formArrayName="subForms">
        <div class="row" *ngFor="let subFormCtrl of customForm.get('subForms')['controls']; let i = index" [formGroupName] = "i">
          <div class="col-md-6" >
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" formControlName="name" class="form-control">
            </div>
            <span *ngIf="!customForm.get('subForms').controls[i].controls['name'].valid && customForm.get('subForms').controls[i].controls['name'].touched" class="help-block">Name is required!!!</span>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="hobby">Hobby</label>
              <input type="text" id="hobby" formControlName="hobby" class="form-control">
            </div>
            <span *ngIf="!customForm.get('subForms').controls[i].controls['hobby'].valid && customForm.get('subForms').controls[i].controls['hobby'].touched" class="help-block">Hobby is required!!!</span>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-primary" type="button" (click)="onAddForm()">Add New Form</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <button class="btn btn-primary" type="submit" [disabled]="!customForm.valid">Submit</button>
        </div>

        <div class="col-xs-6">
          <button class="btn btn-success" type="button" (click)="onUpdate()" >Update</button>
        </div>
      </div>

    </div>
  </form>
</div>
